body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.blue{
    color:rgb(85, 162, 239);
}
.flexible-container{
    display:flex;
    margin-bottom: 50px;
}
.half-width{
    width:50%;
    padding:3%;
}
.experience-area{
    background-image: url(images/dream-bg-02.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exp-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
}
#full-stack{
    border-left: 7px solid rgb(110, 4, 163);
}
#baby-web{
    border-left: 7px solid rgb(99, 71, 224);
}
.half-width img{
    width:85%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(182, 9, 153), rgb(72, 64, 219));
    padding: 10px 40px;
    border-radius: 5px;
    color:white;
}
.top-banner{
    background-image: url(images/top-01.png);
    background-repeat: no-repeat;
}
.bottom-part{
    background-image: url(images/dream-bg-01.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 5%;
    margin-bottom: 50px;
}
footer p{
    text-align: center;
}